@model SliderImage
@{
    ViewData["Title"] = "Create";
}

<form method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label for="">Slider Image</label>
        <input asp-for="@Model.Photo" class="form-control">
        <span asp-validation-for="@Model.Photo" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Create</button>
</form>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>
