@model Bio


<footer>
    <div class="container">
       

        <hr>

        <div class="row py-2">
            <div class=" col-lg-4 text-center text-lg-left">
                <p class="text-black-50">
                    Powered by <a class="author text-muted"
                                  href="">  Elshen Guliyev </a> 2022
                </p>
            </div>
            <div class=" col-lg-4 text-center">
                <img src="~/~/img/footer-bottom-1.png" class="fluid" alt="">
            </div>
            <div class=" col-lg-4 text-center text-lg-right mt-3 mt-lg-0">
                <a class="text-black-50 mr-5"
                   href="@Model.Linkedin"><i class="fa fa-linkedin"></i></a>
                <a class="text-black-50" href="@Model.Facebook"><i class="fa fa-facebook-f"></i></a>
            </div>
        </div>
    </div>
</footer>